body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}
:root {
  --brand-color-gray: #2f303a;
  --brand-color-blue: #2196f3;
  --brand-color-gray-2: #757575;
}
footer {
  background-color: var(--brand-color-gray);
}
.order {
  background-color: var(--brand-color-gray);
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: #fff;
}
.logo-header {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: #000;
}
a {
  text-decoration: none;
}
.logo-blue {
  color: var(--brand-color-blue);
}

.nav-link {
  color: #212121;
  padding-left: 46px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.nav-link:focus,
.nav-link:hover {
  color: var(--brand-color-blue);
}
.contact-link-header {
  color: var(--brand-color-gray-2);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
.contact-link-header:focus,
.contact-link-header:hover {
  color: var(--brand-color-blue);
}
.button-style {
  background: #f5f4fa;
  border: none;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  cursor: pointer;
}
.portfolio-img-heading {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
}
.portfolio-img-description {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--brand-color-gray-2);
}
address {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.address-mail {
  color: #ffffff99;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
}
.address-tel {
  color: #ffffff99;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}
