:root {
  --brand-color-1: #2f303a;
  --brand-color-2: #2196f3;
  --brand-color-3: #757575;
  --brand-color-4: #ffffff99;
  --brand-color-5: #fff;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: #212121;
  width: 1600px;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
header {
  border-bottom: 1px solid #ececec;
}
header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;
}
.header-logo {
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: #000;
  letter-spacing: 0.03em;
}
.header-logo span {
  color: var(--brand-color-2);
}
header nav {
  margin-right: 345px;
  margin-left: 93px;
}
.header-nav-link {
  text-decoration: none;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
}
.header-nav-link:not(:last-child) {
  margin-right: 46px;
}
header ul {
  list-style-type: none;
  display: flex;
}
header li {
  display: flex;

  align-items: center;
}
header svg {
  fill: var(--brand-color-3);
}
.header-contact-link {
  text-decoration: none;
  color: var(--brand-color-3);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  margin-left: 10px;
}
header li:not(:first-child) {
  margin-left: 30px;
}

.header-nav-link:focus,
.header-nav-link:hover {
  color: var(--brand-color-2);
}
header li:hover .header-icon,
header li:focus .header-icon {
  fill: var(--brand-color-2);
}
header li:hover .header-contact-link,
header li:focus .header-contact-link {
  color: var(--brand-color-2);
}
.studio-order {
  background-color: var(--brand-color-1);
  padding: 200px 452px 200px 452px;
  background-image: linear-gradient(to bottom, #2f303a66 0%, #2f303a66 100%),
    url("../images/order.jpg");
  background-size: 1600px;
}
.studio-order h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--brand-color-5);
  margin-bottom: 30px;
}

.studio-order button {
  font-family: "Roboto";
  background: var(--brand-color-2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border: none;
  color: var(--brand-color-5);
  cursor: pointer;
  margin: 0 auto;
  padding: 10px 41px 10px 42px;
}
.studio-order button:hover,
.studio-order button:focus {
  background: #f5f4fa;
  box-shadow: 0px 3px 1px #2196f31a, 0px 1px 2px #2196f314,
    0px 2px 2px #2196f31f;
  border-radius: 4px;
  color: #212121;
}
.studio-section-1 {
  padding-bottom: 0;
}
.studio-section-1 li > div {
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  padding: 25px 100px;
}
.studio-section-1 ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  gap: 30px;
}

.studio-section-1 h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.studio-section-1 p {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--brand-color-3);
}

.studio-section-2 h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0 auto;
  margin-bottom: 50px;
}
.studio-section-2 ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  gap: 30px;
}

.studio-section-3 {
  background: #f5f4fa;
}
.studio-section-3 ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 30px;
}
.studio-section-3 h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.studio-section-3 figure {
  background: var(--brand-color-5);
  box-shadow: 0px 1px 3px #0000001f, 0px 1px 1px #00000024,
    0px 2px 1px #00000033;
  border-radius: 0px 0px 4px 4px;
}
.studio-section-3 figcaption {
  padding: 30px 32px;
}
.studio-section-3 h4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.studio-section-3 p {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--brand-color-3);
}
.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  gap: 10px;
}
.social-links a {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  background-color: var(--brand-color-2);
  cursor: pointer;
}
.social-links svg {
  display: flex;
  justify-content: center;
  align-items: center;
}
.studio-section-4 h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.studio-section-4 ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.studio-section-4 li {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  padding: 17.71px 32px 14.25px;
}
.studio-section-4 li:not(:last-child) {
  margin-right: 30px;
}
.studio-section-4 svg {
  fill: #afb1b8;
}
.studio-section-4 li:hover,
.studio-section-4 li:focus {
  border-color: var(--brand-color-2);
}
.studio-section-4 li:hover .studio-icon,
.studio-section-4 li:focus .studio-icon {
  fill: var(--brand-color-2);
}
.portfolio-section-1-list-1 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  list-style: none;
  gap: 8px;
  margin-bottom: 50px;
}
.portfolio-section-1-list-1 button {
  font-family: "Roboto";
  background: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.62;
  letter-spacing: 0.02em;
  padding: 6px 22px 6px 22px;
}
.portfolio-section-1-list-1 button:hover,
.portfolio-section-1-list-1 button:focus {
  background: var(--brand-color-2);
  box-shadow: 0px 3px 1px #0000001a, 0px 1px 2px #00000014,
    0px 2px 2px #0000001f;
  border-radius: 4px;
  color: var(--brand-color-5);
}
.portfolio-section-1-list-2 {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 30px;
}
.portfolio-section-1-list-2 li:hover,
.portfolio-section-1-list-2 li:focus {
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-section-1-list-2 figcaption {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.portfolio-section-1-list-2 h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.portfolio-section-1-list-2 span {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--brand-color-3);
}
footer {
  background-color: var(--brand-color-1);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-logo {
  display: block;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--brand-color-5);
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}
.footer-logo > span {
  color: var(--brand-color-2);
}
.footer-address {
  display: block;
}
.footer-address > span {
  display: block;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--brand-color-5);
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-bottom: 9px;
}
.footer-address-mail {
  display: block;
  text-decoration: none;
  color: var(--brand-color-4);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  margin-bottom: 9px;
}
.footer-address-tel {
  display: block;
  text-decoration: none;
  color: var(--brand-color-4);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer-address-mail:hover,
.footer-address-mail:focus,
.footer-address-tel:hover,
.footer-address-tel:focus {
  color: var(--brand-color-2);
}
